In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Countries_of_the_world_1970 - imputed_international_data_70 (1).csv')

In [4]:
df.head()

,Entity,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Countries,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,...,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,alliance,regimenarrowcat,Regime_type,id
0,Afghanistan,0.266,0.160,0.104,NaN,5.506573,6.393604,8.740967,5.519734,5.025106,...,5.897546,5.932564,2.392234,4.700103,4.887146,4.776903,not a US ally,8.0,Monarchy,1
1,Albania,0.006,0.173,0.055,Albania,3.713222,3.170575,8.262926,-0.627520,0.180000,...,4.220652,4.846848,0.000000,4.215714,1.750000,3.230021,not a US ally,4.0,Single-party rule,2
2,Algeria,0.428,0.084,0.065,Algeria,4.680000,5.540000,9.322154,7.320000,2.490000,...,5.540452,6.185718,3.000000,4.572435,3.910000,3.630000,not a US ally,7.0,Military rule,3
3,Angola,0.024,0.010,0.035,Angola,4.547754,6.109553,8.385527,4.949296,3.180000,...,4.641346,5.671838,0.536243,3.955813,2.370000,3.778725,not a US ally,NaN,unknown,4
4,Argentina,0.354,0.105,0.086,Argentina,5.980000,7.930000,8.006018,8.187808,6.150000,...,5.180000,5.720000,0.000000,3.630000,2.420000,5.310000,US ally,7.0,Military rule,5

In [5]:
df.head(10)

,Entity,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Countries,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,...,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,alliance,regimenarrowcat,Regime_type,id
0,Afghanistan,0.266,0.160,0.104,NaN,5.506573,6.393604,8.740967,5.519734,5.025106,...,5.897546,5.932564,2.392234,4.700103,4.887146,4.776903,not a US ally,8.0,Monarchy,1
1,Albania,0.006,0.173,0.055,Albania,3.713222,3.170575,8.262926,-0.627520,0.180000,...,4.220652,4.846848,0.000000,4.215714,1.750000,3.230021,not a US ally,4.0,Single-party rule,2
2,Algeria,0.428,0.084,0.065,Algeria,4.680000,5.540000,9.322154,7.320000,2.490000,...,5.540452,6.185718,3.000000,4.572435,3.910000,3.630000,not a US ally,7.0,Military rule,3
3,Angola,0.024,0.010,0.035,Angola,4.547754,6.109553,8.385527,4.949296,3.180000,...,4.641346,5.671838,0.536243,3.955813,2.370000,3.778725,not a US ally,NaN,unknown,4
4,Argentina,0.354,0.105,0.086,Argentina,5.980000,7.930000,8.006018,8.187808,6.150000,...,5.180000,5.720000,0.000000,3.630000,2.420000,5.310000,US ally,7.0,Military rule,5
5,Armenia,0.094,0.102,0.024,Armenia,4.543790,6.061647,9.695219,2.974573,3.267026,...,6.120053,5.976917,3.102853,5.022989,3.191819,4.010850,not a US ally,4.0,Single-party rule,6
6,Australia,0.980,0.860,0.807,Australia,7.560000,6.170000,6.968283,10.000000,7.380000,...,5.180000,5.321900,0.000000,4.346862,9.760000,5.720000,US ally,0.0,Democracy,7
7,Austria,0.949,0.843,0.728,Austria,6.610000,5.450000,6.070000,7.820000,4.780000,...,4.490000,5.010000,0.000000,3.170000,8.060000,5.160000,not a US ally,0.0,Democracy,8
8,Azerbaijan,0.094,0.102,0.024,Azerbaijan,4.562497,6.062738,9.676493,3.009096,3.295890,...,6.118530,5.973363,3.112880,5.023543,3.231987,4.029372,not a US ally,4.0,Single-party rule,9
9,Bahrain,0.449,0.024,NaN,Bahrain,5.990742,7.066136,9.231391,7.644778,2.550000,...,6.308791,6.602108,-1.105166,3.916456,5.160000,4.570043,not a US ally,NaN,unknown,10

In [6]:
df['indiv_libs_vdem_owid']

0      0.266
1      0.006
2      0.428
3      0.024
4      0.354
       ...
177      NaN
178      NaN
179      NaN
180      NaN
181      NaN
Name: indiv_libs_vdem_owid, Length: 182, dtype: float64

In [9]:
pwd

'C:\\Users\\wedwa\\OneDrive\\Documents\\CanTek_thirdwave_Python'

In [18]:
#csv_location = "C:\Users\wedwa\OneDrive\Documents\git_test\Countries_data.csv"
df2 = pd.read_csv("C:\\Users\\wedwa\\OneDrive\\Documents\\git_test\\Countries_data.csv")

In [19]:
csv_location = "C:\\Users\\wedwa\\OneDrive\\Documents\\git_test\\Countries_data.csv"

In [20]:
df2 = pd.read_csv(csv_location)

In [21]:
df2

,Entity,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Countries,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,...,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,alliance,regimenarrowcat,Regime_type,id
0,Afghanistan,0.266,0.160,0.104,NaN,5.506573,6.393604,8.740967,5.519734,5.025106,...,5.897546,5.932564,2.392234,4.700103,4.887146,4.776903,not a US ally,8.0,Monarchy,1
1,Albania,0.006,0.173,0.055,Albania,3.713222,3.170575,8.262926,-0.627520,0.180000,...,4.220652,4.846848,0.000000,4.215714,1.750000,3.230021,not a US ally,4.0,Single-party rule,2
2,Algeria,0.428,0.084,0.065,Algeria,4.680000,5.540000,9.322154,7.320000,2.490000,...,5.540452,6.185718,3.000000,4.572435,3.910000,3.630000,not a US ally,7.0,Military rule,3
3,Angola,0.024,0.010,0.035,Angola,4.547754,6.109553,8.385527,4.949296,3.180000,...,4.641346,5.671838,0.536243,3.955813,2.370000,3.778725,not a US ally,NaN,unknown,4
4,Argentina,0.354,0.105,0.086,Argentina,5.980000,7.930000,8.006018,8.187808,6.150000,...,5.180000,5.720000,0.000000,3.630000,2.420000,5.310000,US ally,7.0,Military rule,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,United Arab Emirates,NaN,NaN,NaN,United Arab Emirates,5.318299,6.321991,7.942938,6.984351,5.128654,...,4.578971,5.804901,-1.635512,3.297957,4.408227,4.057185,not a US ally,NaN,unknown,178
178,"Bahamas, The",NaN,NaN,NaN,"Bahamas, The",6.444528,7.929654,9.750000,8.271012,7.359644,...,7.506363,6.864895,6.740750,6.570836,6.959719,6.624903,not a US ally,NaN,unknown,179
179,Belize,NaN,NaN,NaN,Belize,6.552629,6.550790,8.277202,6.172708,6.257622,...,6.498267,5.631109,4.938871,5.273427,6.551369,5.902861,not a US ally,NaN,unknown,180
180,Brunei Darussalam,NaN,NaN,NaN,Brunei Darussalam,5.429512,6.567417,8.823056,5.877209,5.083315,...,5.809336,6.037126,1.554685,4.469860,4.482676,4.579663,not a US ally,NaN,unknown,181
181,Montenegro,NaN,NaN,NaN,Montenegro,5.034850,6.090277,9.203655,3.880783,4.024726,...,6.080078,5.883605,3.366051,5.037536,4.246232,4.497032,not a US ally,4.0,Single-party rule,182

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 43 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                182 non-null    object
 1   indiv_libs_vdem_owid                                  177 non-null    float64
 2   electdem_vdem_owid                                    177 non-null    float64
 3   libdem_vdem_owid                                      175 non-null    float64
 4   Countries                                             165 non-null    object
 5   Economic.Freedom.Summary.Index                        182 non-null    float64
 6   Government.consumption                                182 non-null    float64
 7   Transfers.and.subsidies                               182 non-null    float64
 8   Government.investment                                 182 non-null    float64
 9   State.ownership.of.assets                             182 non-null    float64
 10  Size.of.Government                                    182 non-null    float64
 11  Judicial.independence                                 182 non-null    float64
 12  Impartial.courts                                      182 non-null    float64
 13  Integrity.of.the.legal.system                         182 non-null    float64
 14  Legal.enforcement.of.contracts                        182 non-null    float64
 15  Gender.Legal.Rights.Adjustment                        182 non-null    float64
 16  Legal.System...Property.Rights                        182 non-null    float64
 17  Money.growth                                          182 non-null    float64
 18  Standard.deviation.of.inflation                       182 non-null    float64
 19  Inflation..Most.recent.year                           182 non-null    float64
 20  Freedom.to.own.foreign.currency.bank.accounts         182 non-null    float64
 21  Sound.Money                                           182 non-null    float64
 22  Revenue.from.trade.taxes....of.trade.sector.          182 non-null    float64
 23  Tariffs                                               182 non-null    float64
 24  Black.market.exchange.rates                           182 non-null    float64
 25  Financial.Openness                                    182 non-null    float64
 26  Capital.controls                                      182 non-null    float64
 27  Controls.of.the.movement.of.capital.and.people        182 non-null    float64
 28  Freedom.to.trade.Internationally                      182 non-null    float64
 29  Ownership.of.banks                                    182 non-null    float64
 30  Private.sector.credit                                 182 non-null    float64
 31  Interest.rate.controls.negative.real.interest.rates.  182 non-null    float64
 32  Credit.market.regulations                             182 non-null    float64
 33  Centralized.collective.bargaining                     182 non-null    float64
 34  Hours.Regulations                                     182 non-null    float64
 35  Conscription                                          182 non-null    float64
 36  Labor.market.regulations                              182 non-null    float64
 37  Impartial.Public.Administration                       182 non-null    float64
 38  Regulation                                            182 non-null    float64
 39  alliance                                              182 non-null    object
 40  regimenarrowcat                                       161 non-null    float64
 41  Regime_type                                           182 non-null    object
 42  id                                                    182 non-null    int64
dtypes: float64(38), int64(1), object(4)
memory usage: 61.3+ KB

In [23]:
df.describe()

,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,Size.of.Government,Judicial.independence,...,Interest.rate.controls.negative.real.interest.rates.,Credit.market.regulations,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,regimenarrowcat,id
count,177.000000,177.000000,175.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,...,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,161.000000,182.000000
mean,0.433633,0.271169,0.205794,5.497105,6.397742,8.750740,5.512288,5.014970,6.040210,5.093428,...,7.431721,5.299373,5.899200,5.938018,2.390425,4.702679,4.868891,4.769867,6.919255,91.500000
std,0.308818,0.255504,0.239538,0.990792,1.631789,1.168317,2.535629,1.902797,1.388335,1.520615,...,1.337461,2.879924,0.977878,0.660809,3.361388,0.964482,2.254019,1.060287,14.994989,52.683014
min,0.003000,0.010000,0.011000,3.400000,0.050000,4.480000,-0.940513,0.130000,2.020000,2.250000,...,1.372522,-1.128499,3.652118,2.730000,-6.698552,1.675800,0.260000,2.717774,0.000000,1.000000
25%,0.135000,0.102000,0.044500,4.824416,5.624896,8.386646,4.052806,4.065000,5.135000,4.080000,...,7.017368,3.440618,5.180000,5.721074,0.000000,4.157296,3.236490,4.010850,4.000000,46.250000
50%,0.373000,0.169000,0.096000,5.483484,6.393604,8.949077,5.519734,5.025106,6.041385,5.031735,...,7.439856,5.316401,5.897546,5.953235,2.392234,4.700103,4.750249,4.776903,5.000000,91.500000
75%,0.682000,0.322000,0.244000,6.147837,7.437500,9.596289,7.411258,6.277500,7.107500,5.805000,...,8.000000,7.685331,6.305401,6.326448,3.446890,5.166518,6.270000,5.453524,7.000000,136.750000
max,0.992000,0.905000,0.879000,8.420000,11.037714,10.924050,10.000000,9.310000,9.360000,8.540000,...,10.404420,10.000000,8.187470,7.252726,10.000000,7.910000,9.930000,8.260000,99.000000,182.000000

In [24]:
df.shape

(182, 43)

In [31]:
(df.columns)[3]

'libdem_vdem_owid'

In [32]:
df.dtypes

Entity                                                   object
indiv_libs_vdem_owid                                    float64
electdem_vdem_owid                                      float64
libdem_vdem_owid                                        float64
Countries                                                object
Economic.Freedom.Summary.Index                          float64
Government.consumption                                  float64
Transfers.and.subsidies                                 float64
Government.investment                                   float64
State.ownership.of.assets                               float64
Size.of.Government                                      float64
Judicial.independence                                   float64
Impartial.courts                                        float64
Integrity.of.the.legal.system                           float64
Legal.enforcement.of.contracts                          float64
Gender.Legal.Rights.Adjustment                          float64
Legal.System...Property.Rights                          float64
Money.growth                                            float64
Standard.deviation.of.inflation                         float64
Inflation..Most.recent.year                             float64
Freedom.to.own.foreign.currency.bank.accounts           float64
Sound.Money                                             float64
Revenue.from.trade.taxes....of.trade.sector.            float64
Tariffs                                                 float64
Black.market.exchange.rates                             float64
Financial.Openness                                      float64
Capital.controls                                        float64
Controls.of.the.movement.of.capital.and.people          float64
Freedom.to.trade.Internationally                        float64
Ownership.of.banks                                      float64
Private.sector.credit                                   float64
Interest.rate.controls.negative.real.interest.rates.    float64
Credit.market.regulations                               float64
Centralized.collective.bargaining                       float64
Hours.Regulations                                       float64
Conscription                                            float64
Labor.market.regulations                                float64
Impartial.Public.Administration                         float64
Regulation                                              float64
alliance                                                 object
regimenarrowcat                                         float64
Regime_type                                              object
id                                                        int64
dtype: object

In [43]:
df[(df.columns)[10]].value_counts()

Size.of.Government
6.041385    17
6.340000     2
5.071439     2
6.110000     2
6.710000     2
            ..
7.610000     1
9.290000     1
5.048373     1
3.360000     1
5.386902     1
Name: count, Length: 158, dtype: int64

In [47]:
(df.groupby('Regime_type')).describe()

                               indiv_libs_vdem_owid                      \
                                              count      mean       std
Regime_type
Democracy                                      39.0  0.841462  0.204599
Military rule                                  34.0  0.272853  0.142028
Monarchy                                       13.0  0.357462  0.190659
Multi-party authoritarian rule                  6.0  0.609000  0.210711
Other oligarchy                                 4.0  0.218250  0.216649
Personalist rule                               20.0  0.390350  0.227198
Single-party rule                              40.0  0.264850  0.209088
unknown                                        21.0  0.337333  0.305038

                                                                       \
                                  min     25%     50%      75%    max
Regime_type
Democracy                       0.049  0.7910  0.9090  0.97250  0.992
Military rule                   0.078  0.1435  0.2440  0.37300  0.592
Monarchy                        0.118  0.2020  0.3800  0.40200  0.726
Multi-party authoritarian rule  0.336  0.4780  0.5795  0.78150  0.866
Other oligarchy                 0.099  0.1095  0.1155  0.22425  0.543
Personalist rule                0.003  0.2530  0.4000  0.54700  0.769
Single-party rule               0.006  0.0940  0.2080  0.36625  0.686
unknown                         0.012  0.0940  0.1710  0.57100  0.926

                               electdem_vdem_owid            ...  \
                                            count      mean  ...
Regime_type                                                  ...
Democracy                                    39.0  0.697615  ...
Military rule                                34.0  0.132794  ...
Monarchy                                     13.0  0.122000  ...
Multi-party authoritarian rule                6.0  0.270333  ...
Other oligarchy                               4.0  0.151500  ...
Personalist rule                             20.0  0.228100  ...
Single-party rule                            40.0  0.130475  ...
unknown                                      21.0  0.127619  ...

                               regimenarrowcat          id              \
                                           75%   max count        mean
Regime_type
Democracy                                  1.0   2.0  39.0   82.743590
Military rule                              7.0   7.0  34.0   88.029412
Monarchy                                   8.0   9.0  13.0   74.076923
Multi-party authoritarian rule             5.0   5.0   6.0  118.000000
Other oligarchy                           10.0  10.0   4.0  111.000000
Personalist rule                           6.0   6.0  20.0   83.800000
Single-party rule                          4.0   4.0  41.0   98.853659
unknown                                   99.0  99.0  25.0  103.560000


                                      std   min    25%    50%     75%    max
Regime_type
Democracy                       51.725855   7.0  43.00   76.0  114.00  171.0
Military rule                   53.595842   3.0  35.75  102.5  139.50  159.0
Monarchy                        38.953950   1.0  52.00   81.0  105.00  134.0
Multi-party authoritarian rule  41.060930  58.0  97.50  120.0  138.75  175.0
Other oligarchy                 69.928535  15.0  84.75  126.0  152.25  177.0
Personalist rule                40.627447  25.0  48.25   91.0  113.50  173.0
Single-party rule               57.112416   2.0  45.00  103.0  155.00  182.0
unknown                         58.679269   4.0  51.00  120.0  150.00  181.0

[8 rows x 312 columns]

In [48]:
df['libdem_vdem_owid_scaled'] = df['libdem_vdem_owid'].apply(lambda x: x*100)

In [51]:
df['libdem_vdem_owid_scaled']

0      10.4
1       5.5
2       6.5
3       3.5
4       8.6
       ...
177     NaN
178     NaN
179     NaN
180     NaN
181     NaN
Name: libdem_vdem_owid_scaled, Length: 182, dtype: float64

In [52]:
df['electdem_vdem_owid_scaled'] = df['electdem_vdem_owid']*100

In [55]:
df['electdem_vdem_owid_scaled']

0      16.0
1      17.3
2       8.4
3       1.0
4      10.5
       ...
177     NaN
178     NaN
179     NaN
180     NaN
181     NaN
Name: electdem_vdem_owid_scaled, Length: 182, dtype: float64

In [56]:
data = {
    'price': [100, 200, 150, 300],
     'quantity':[5, 2, 1, 3]}
df3 = pd.DataFrame(data)
# Apply a lambda function to calculate discounted price
df3['new_price'] = df3['price'].apply(lambda x: x * 0.9)
df3

   price  quantity  new_price
0    100         5       90.0
1    200         2      180.0
2    150         1      135.0
3    300         3      270.0

In [58]:
def classify_number(number):
    if number < 5:
        return 'small'
    elif number >= 5 and number < 10:
        return 'medium'
    else:
        return 'large'

In [64]:
classify_number(100)

'large'

In [65]:
df3['price_classify'] = df3['price'].apply(lambda x: classify_number(x))
df3

   price  quantity  new_price price_classify
0    100         5       90.0          large
1    200         2      180.0          large
2    150         1      135.0          large
3    300         3      270.0          large

In [67]:
df3['quantity_classify'] = df3['quantity'].apply(classify_number)
df3

   price  quantity  new_price price_classify quantity_classify
0    100         5       90.0          large            medium
1    200         2      180.0          large             small
2    150         1      135.0          large             small
3    300         3      270.0          large             small

In [68]:
df3['quantity_classify'] = classify_number(df3['quantity'])
df3

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [69]:
def classify_number(number, lower, upper):
    if number < lower:
        return 'small'
    elif number >= lower and number < upper:
        return 'medium'
    else:
        return 'large'

In [72]:
classify_number(10, 11, 15)

'small'

In [73]:
df3['quantity_classify'] = df3['quantity'].apply(classify_number)
df3

TypeError: classify_number() missing 2 required positional arguments: 'lower' and 'upper'

In [75]:
df3['quantity_classify'] = df3['quantity'].apply(lambda x: classify_number(x, 2, 5))
df3

   price  quantity  new_price price_classify quantity_classify
0    100         5       90.0          large             large
1    200         2      180.0          large            medium
2    150         1      135.0          large             small
3    300         3      270.0          large            medium

In [76]:
df3['quantity_classify'] = df3['quantity'].apply(lambda x: classify_number(x, df3['price'], df3[new_price]))
df3

NameError: name 'new_price' is not defined

It is very hard to carry out operation on multiple columns without the NumPy library. Using stuff like lambda it can be tough to incorporate multiple conditions, and multiple columns into a data transformation. But NumPy makes this easy.

In [78]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df4 = pd.DataFrame(data)

condition1 = df4['A'] < 3
function1 = lambda x: x * 2
condition2 = df4['A'] >= 3
function2 = lambda x: x + 5

df4['C'] = np.where(condition1, function1(df4['B']), function2(df4['B']))

print(df4)

   A   B   C
0  1  10  20
1  2  20  40
2  3  30  35
3  4  40  45
4  5  50  55

In [81]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df4 = pd.DataFrame(data)

condition1 = df4['A'] < 3
def function1(x,y):
    return x/(y*2)

condition2 = df4['A'] >= 3
function2 = lambda x: x + 5

df4['C'] = np.where(condition1, function1(df4['B'],df4['A']), function2(df4['B']))

print(df4)

   A   B     C
0  1  10   5.0
1  2  20   5.0
2  3  30  35.0
3  4  40  45.0
4  5  50  55.0

In [83]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
# Define the conditions and corresponding functions/logic
condition1 = df['A'] < 3
function1 = lambda x: x * 2
condition2 = df['A'] >= 3
function2 = lambda x: x + 5
# Apply the functions/logic based on conditions and create the new column
df['C'] = np.where(condition1,function1(df['A']),function2(df['B']))
df

   A   B   C
0  1  10   2
1  2  20   4
2  3  30  35
3  4  40  45
4  5  50  55

In [84]:
#one way to iterate through a dataframe

 #first establish the first column to iterate through
#working_column = 0
    #Have for loop that goes through all the columns
def check_for_unusual_values(df):
    for column in range(0,(df.shape[1])):
    #Check if column is quantitative
        if (type(df.iloc[0][column]) == np.float64) or (type(df.iloc[0][column]) == np.int64):
    #THEN go into for loop going down through all rows in that column
            for row in range(0, (df.shape[0])):
                if df.iloc[row][column] > 9.9:
                #print("unusual value detected at "+str(row)+","+str(column))
                    print(f"unusual value detected at {row},{column}")

In [91]:
df.iloc[0][0]

1

In [92]:
check_for_unusual_values(df)

unusual value detected at 0,1
unusual value detected at 1,1
unusual value detected at 2,1
unusual value detected at 3,1
unusual value detected at 4,1
unusual value detected at 2,2
unusual value detected at 3,2
unusual value detected at 4,2

In [93]:
df.iloc[1][1] = 'random_string'

C:\Users\wedwa\AppData\Local\Temp\ipykernel_16284\1720453960.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[1][1] = 'random_string'

In [94]:
df

   A   B   C
0  1  10   2
1  2  20   4
2  3  30  35
3  4  40  45
4  5  50  55

In [95]:
df.loc[1, ['B']] = 700
df

   A    B   C
0  1   10   2
1  2  700   4
2  3   30  35
3  4   40  45
4  5   50  55

In [96]:
df.loc[1, ['B']] = 'afsdfsdf'
df

   A         B   C
0  1        10   2
1  2  afsdfsdf   4
2  3        30  35
3  4        40  45
4  5        50  55

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      object
 2   C       5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [99]:
type(df.iloc[1][1])

str

In [107]:
type(df.iloc[0][1])

int

In [ ]:
def string_finder(df):
    for column in range(0,(df.shape[1])):
    #Check if column is NOT quantitative
        if (type(df.iloc[0][column]) != np.float64) or (type(df.iloc[0][column]) != np.int64):
    #THEN go into for loop going down through all rows in that column
            for row in range(0, (df.shape[0])):
                if type(df.iloc[row][column]) == str:
                #print("unusual value detected at "+str(row)+","+str(column))
                    print(f"string found at {row},{column}")